ia-email.json
{
  "name": "ia-email",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "0536902a-2fd9-4960-b8c8-a14d1cfa6929",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "31SuFuOJIvuTqGjP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "879955aa-feeb-46ea-ad48-c857bd6e83a4",
              "name": "titulo_email",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "de94d9a7-b210-414d-9480-55a9b56c5be1",
              "name": "email",
              "value": "={{ $json.From }}",
              "type": "string"
            },
            {
              "id": "36d836ab-666e-43ed-a667-b56c06a33521",
              "name": "corpo_email",
              "value": "={{ $json.snippet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "140bbf5e-f4ca-4a9a-a17e-9a28765d5c30",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=Atue como um especialista em resumir emails.\n\nRecebi o seguinte email:\n{{ $json.corpo_email }}\n\nResuma esse email em apenas um paragrafo ",
              "role": "model"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        352,
        0
      ],
      "id": "6f987d50-294a-436c-a627-3b6dbed6515a",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "haEQlpV83oQDI9Bu",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3624fdc-a20c-46f3-baba-24ae997ca7c0",
              "name": "email_resumido",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        0
      ],
      "id": "fa5de747-dda2-4d9f-889c-26e3d996c884",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "from": "+5562996933258",
        "to": "+5562996933258",
        "message": "=ia-email:\n\n\n{{ $json.email_resumido }}",
        "options": {}
      },
      "type": "n8n-nodes-base.sms77",
      "typeVersion": 1,
      "position": [
        912,
        0
      ],
      "id": "0a708e93-603b-40be-96d5-aca8b10a2008",
      "name": "Send an SMS",
      "credentials": {
        "sms77Api": {
          "id": "ce2jHoLjd1dkSpwV",
          "name": "seven account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send an SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3cbff821-38b6-4d91-9a2d-0ee93a1a5279",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f652aa73887a83d98de70697499bb96f9f3969d73b4ab2f5fd6d3de71a8ae829"
  },
  "nodeGroups": [],
  "id": "RTyrkKglJJZKi6Jb",
  "tags": []
}